@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.q7__basic {
	width: 225px;
	box-sizing: border-box;
	font-size: 16px;
}

.q7__text:first-child {
	margin-left: 0;
}

.q7__text {
	margin-left: 50px;
	float: left;
}


.q7__table  {
	display: table;
}

.q7__table__content {
	display: table-cell;
	padding-left: 50px;
}

.q7__table__content:first-child {
	padding-left: 0;
}

.q7__table__text {
	display: inline-block;
	vertical-align: middle;
}

.q7__inline {
	font-size: 0;
}

.q7__inline__text:first-child {
	margin-left: 0;
}

.q7__inline__text {
	display: inline-block;
	margin-left: 50px;
	vertical-align: middle;
}


.q7__flex {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}


.q7__margin__content {
	width: 100%;
	box-sizing: border-box;
	font-size: 0;
}

.q7__fixed {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.q7__variable {
	display: inline-block;
	width: 100%;
	margin-left: -300px;
	padding-left: 350px;
	box-sizing: border-box;
}

.q7__margin__text {
	font-size: 16px;
}
/* 回答はここに書いてね */
